#summary {
    background-color: #EEF5FF;
}

#personal-project {
    background-color: #EEF5FF;
}

#education {
    background-color: #9EB8D9;
}

#contact-me {
    background-color: #7C93C3;
}
.profile-image {
    height: 130px;
    border-radius: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.icon-square {
    width: 2rem;
    height: 2rem;
    border-radius: 0.75rem;
    margin-right: 10px;
}

li.borderless { 
    border: none;
    padding-left: 0px;
}